@model IEnumerable<SchoolManagement.Models.StudentDto>

@{
    ViewBag.Title = "Students";
}

<div class="row">
    <div class="col-md-10">
        <h2>Students</h2>
    </div>
    <div class="col-md-2">
        <a href="@Url.Action("Add","Student")" class="btn btn-primary">Add Student</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Student Name</th>
                    <th>Class</th>
                    <th>Mobile Number</th>
                    <th>Address</th>
                    <th>State</th>
                    <th>City</th>
                    <th>Created On</th>
                    <th>Actions</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FirstName @item.LastName</td>
                        <td>@item.ClassName</td>
                        <td>@item.MobileNumber</td>
                        <td>@item.Address</td>
                        <td>@item.State</td>
                        <td>@item.City</td>
                        <td>@item.CreatedOn.ToString("dd/MM/yyyy")</td>
                        <td>
                            <a href="@Url.Action("Delete","Student",new { studentId = item.StudentId })" class="btn btn-danger delete_btn">Delete</a>
                            <a href="@Url.Action("Update","Student",new { studentId = item.StudentId })" class="btn btn-warning update_btn">Update</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            $('.delete_btn').click(function (e) {
                if (confirm("Are you sure you want to delete?")) {

                }
                else {
                    e.preventDefault();
                }
            });
        });
    </script>
}
